body{
    background-color: black;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    cursor: pointer;
    white-space: nowrap;

    margin: 0;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

h1 span{
    display: inline-block;
    overflow: hidden;
    transition: all 0.3s ease-out;
    color: white;
}

h1 span:nth-child(even) {
    color: lightgreen;
    letter-spacing: -40px;
}

h1:hover span:nth-child(even){
    letter-spacing: 0;
}

h1:hover span:nth-child(2){
    transition-delay: 0s ;
}
h1:hover span:nth-child(4){
    transition-delay: 0.5s ;
}
h1:hover span:nth-child(6){
    transition-delay: 1s ;
}
/* h1:hover span:nth-child(8){
    transition-delay: 1.5s ;
} */
